

.raleway- {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 158;
  font-style: normal;
}

.p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 158;
  font-style: normal;
}